body {
    font-family: sans-serif;
    font-size: 12px;
}
h1 {
    font-size: 16px;
    margin-bottom: 16px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
thead {
    background: #f0f0f0;
}
